# Mandatory info for starting the app
NEXT_PUBLIC_MORALIS_APPLICATION_ID = AgtrVuu5D3KG5lq6VNDIBdX4qT5gO0HGV36FIuOK
NEXT_PUBLIC_MORALIS_SERVER_URL =

# Optional info for connecting your localChain and Moralis Database
moralisApiKey = xxxxx
moralisApiSecret = xxxxxxx
frpcPath = F:\frpc\frpc.exe
chain = ganache
moralisSubdomain = xxxxxxx.usemoralis.com
abiPath = ".\\truffle\build\contracts\Contract.json"
